<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hayman PABX</title>
    <link rel="icon" href="image/logo.ico">
    <link rel="stylesheet" href="dataTable/custom.css">
    <link rel="stylesheet" href="dataTable/bootstrap.css">
    <link rel="stylesheet" href="dataTable/fontawsome.min.css">
    <link rel="stylesheet" href="dataTable/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="dataTable/dataTables.bootstrap4.min.css">
</head>
<body>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PABX</title>

</head>
<body>
<!--start-->
<div class="container-fluid mt-3">
    <div class="mt-2 mb-4">
        <h2>PABX</h2>

    </div>
    <div>

        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>No.</th>
                <th>User Name</th>
                <th>Location</th>
                <th>Protocol</th>
                <th class="text-danger text-center">Extension</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>1</td>
                <td>CEO</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">888</td>

            </tr>

            <tr>
                <td>2</td>
                <td>DCEO</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">801</td>

            </tr>
            <tr>
                <td>3</td>
                <td>COO</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">802</td>
            </tr>
            <tr>
                <td>4</td>
                <td>COO</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">803</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Ass MD</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">804</td>
            </tr>
            <tr>
                <td>6</td>
                <td>SEC</td>
                <td>Third Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">805</td>
            </tr>
            <tr>
                <td>7</td>
                <td>OPD</td>
                <td>Second Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">806</td>
            </tr>
            <tr>
                <td>8</td>
                <td>FIN</td>
                <td>Second Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">807</td>
            </tr>
            <tr>
                <td>9</td>
                <td>HR</td>
                <td>First Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">808</td>
            </tr>
            <tr>
                <td>10</td>
                <td>ADM</td>
                <td>Ground Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">809</td>
            </tr>
            <tr>
                <td>11</td>
                <td>ACC</td>
                <td>Second Floor</td>
                <td>SIP</td>
                <td class="text-danger text-center">810</td>
            </tr>


            </tbody>
            <tfoot>
            <tr>
                <th>No.</th>
                <th>User Name</th>
                <th>Location</th>
                <th>Protocol</th>
                <th class="text-danger text-center">Extension</th>

            </tr>
            </tfoot>
        </table>
    </div>
</div>
<!--end-->
</body>
</html>


</body>
</html>
